@model PainelAnalyse.Models.PainelViewModel
@{
    ViewBag.Title = "Home Page";
    var data = (string)ViewData["Message"];
    var link = (string)ViewData["linkMaps"];
}
@using (Html.BeginForm("Home"))
{
    <br />
    <div class="row">
        <div class="form-group row col-sm-8">
            <div class="col-sm-1">
                <img src="~/Imagens/filtro.PNG">
            </div>
            <label for="nome-do-plano" class="col-md-1 col-sm-3 col-form-label">Tipo:</label>
            <div class="col-sm-3">
                <input type="text" id="tipo" class="form-control" name="tipo" list="listTipo" required>
                <datalist id="listTipo">
                    <option>Rua</option>
                    <option>Avenida</option>
                    <option>Rodovia</option>
                </datalist>
            </div>
            <div class="col-sm-5">
                <input type="text" id="endereco" class="form-control" name="endereco" placeholder="Endereço" required>
            </div>
            <div class="col-sm-2">
                <input type="text" id="numero" class="form-control" name="numero" placeholder="N°">
            </div>
        </div>
        @*<div class="col-sm-6">
            <input type="text" id="endereco" class="form-control" name="endereco" placeholder="Endereço" required>
        </div>*@
    </div>
    <div class="form-group row col-sm-8">
        <div class="col-sm-3">
            <input type="text" id="CEP" name="CEP" class="form-control" placeholder="CEP">
        </div>
        <div class="col-sm-5">
            <input type="text" id="cidade" class="form-control" name="cidade" placeholder="Cidade" required>
        </div>
        <div class="col-sm-2">
            <input type="text" id="UF" name="UF" class="form-control" placeholder="UF" required>
        </div>
        <div class="col-sm-2">
            <input type="Submit" value="Pesquisar" class="btn btn-primary btn-sm ml-4">
        </div>
    </div>
    <br />
    <div class="row">
        <div>
            <img src="@data" width="550" height="300">
            " "
            <img src="~/Imagens/CivicBatido.jpg" width="550" height="300">

        </div>

    </div>
    <br />
    <div class="row">
        <div class="col-sm-12">
            <a src="@link" target="_blank">@link</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">
            <img src="~/Imagens/Dolar.png">
        </div>
        <h3>Análse Financeira</h3>
        @Html.Partial("~/Views/Home/ListaCarros.cshtml", Model.Carros)
    </div>

    <div class="row">
        <div class="col-sm-1">
            <img src="~/Imagens/Dolar.png">
        </div>
        <h3>Análse Score</h3>
        @Html.Partial("~/Views/Home/ScoreTerceiro.cshtml", Model.Score)
    </div>
}